body {
  font-weight: 300;
  background-color: #292B2E;
  font-family: benton-sans, sans-serif;
}
section {
	scroll-snap-align: start;
}
a:focus {
  outline: transparent;
}
:focus {
  outline: transparent;
}
p {
  margin: 10px 0;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
  content: none;
}
.text-orange {
  background: -webkit-linear-gradient(#FF956A, #FF590D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-white {
  color: #ffffff;
}
.text-white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.text-gray {
  color: rgba(255, 255, 255, 0.5);
}
.text-gold {
  color: #E89F2D;
}
.text-black-blue {
  color: #1B1D20;
}
.title-page {
  font-size: 170px;
  color: rgba(255, 255, 255, 0.07);
  padding-top: 64px;
  font-weight: 500;
  margin-left: -20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-logo {
  /* padding: 32px 0 0 35px; */
}
.header-logo img {
  width: 180px;
}
.home-page{
  background-color: #292B2E;
}
.header-menu {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  /* padding: 32px 35px 0 0; */
}
.btn-let-talk a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  width: 122px;
  height: 36px;
  text-align: center;
}
.btn-menu img {
  width: 100%;
}
.circle-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 189px;
  position: relative;
  overflow: hidden;
}
.circle-canvas {
  display: flex;
  flex-direction: column;
  width: 445px;
  align-items: center;
  height: 445px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient( top, #292929 0%, #212121 100%);
  border: 1px solid #00000008;
}
.mouse-footer {
  padding-top: 30px;
}
.mouse-footer img {
  width: 45px;
}
.circle-heading-footer {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
}
.circle-text-footer {
  font-size: 16px;
  max-width: 265px;
  text-align: center;
}
footer {
  display: flex;
  width: 100%;
  height: 57px;
  background: #0E0E0E;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.text-footer {
  font-size: 10px;
}
.Fb-icon-footer {
  width: 20px;
  margin-right: 10px;
}
.Ig-icon-footer {
  width: 20px;
}
#page-container .page{
  height: 100vh;
}
/* home */
.loadding-home {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  z-index: 22;
}
.loadding-home .LoaderBallsHome {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loadding-home .LoaderBallsHome__item {
  background: #292B2E;
  width: 15px;
  height: 15px;
  border-radius: 50%;
 
}
.LoaderBallsHome__item:nth-child(1) {
  animation: bouncinghome 1s linear;
  transform: translate3d(7px,-7px,0) scale(1);
  position: absolute;
  right: 50%;
  top: 50%;
}
.LoaderBallsHome__item:nth-child(2) {
  animation: bouncinghome1 1s linear ;
  transform: translate3d(-7px,7px,0) scale(1);
  position: absolute;
  left: 50%;
  bottom: 50%;
}

@keyframes bouncinghome {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    right: 0%;
    top: 25%;
  }
  10% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
    right: 10%;
    top: 30%;
  }
  20% {
    transform: translate3d(0, 15px, 0) scale(1.2, 0.85);
    right: 20%;
    top: 35%;
  }
  30% {
    transform: translate3d(0, -15px, 0) scale(1.2, 0.85);
    right: 30%;
    top: 40%;
  }
  40% {
    transform: translate3d(0, 10px, 0) scale(0.9, 1.1);
    right: 40%;
    top: 45%;
  }
  50% {
    transform: translate3d(0, -10px, 0) scale(1.2, 0.85);
    right: 40%;
    top: 50%;
  }
  75% {
    transform: translate3d(-7px,7px, 0) scale(1.2, 0.85);
    right: 40%;
    top: 50%;
  }
  
  100% {
    transform: translate3d(7px,-7px,0) scale(1);
    right: 50%;
    top: 50%;
  }
}
@keyframes bouncinghome1 {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    left: 0%;
    bottom: 25%;
  }
  10% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
    left: 10%;
    bottom: 30%;
  }
  20% {
    transform: translate3d(0, 15px, 0) scale(1.2, 0.85);
    left: 20%;
    bottom: 35%;
  }
  30% {
    transform: translate3d(0, -15px, 0) scale(1.2, 0.85);
    left: 30%;
    bottom: 40%;
  }
  40% {
    transform: translate3d(0, 10px, 0) scale(0.9, 1.1);
    left: 40%;
    bottom: 45%;
  }
  50% {
    transform: translate3d(0, -10px, 0) scale(1.2, 0.85);
    left: 40%;
    bottom: 50%;
  }
  75% {
    transform: translate3d(7px,-7px, 0) scale(1.2, 0.85);
    left: 40%;
    bottom: 50%;
  }
  
  100% {
    transform: translate3d(-7px,7px,0) scale(1);
    left: 50%;
    bottom: 50%;
  }
}
.loaddingBall {
  width: 100%;
  /* height: 100%; */
  background: transparent;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  border-radius: 50%;
  z-index: 0;
  animation: circle1 1s linear 1.1s ;
}
@keyframes circle1 {
  0% {
    transform: translate(-50%,-50%) scale(0.057);
    background: #292B2E;
  }
  5% {
    transform: translate(-50%,-50%) scale(0.11);
    background: #292B2E;
  }
  10% {
    transform: translate(-50%,-50%) scale(0.17);
    background: #292B2E;
  }
  15% {
    transform: translate(-50%,-50%) scale(0.22);
    background: #292B2E;
  }
  20% {
    transform: translate(-50%,-50%) scale(0.28); 
    background: #292B2E;
  }
  25% {
    transform: translate(-50%,-50%) scale(0.34);
    background: #292B2E;
  }
  30% {
    transform: translate(-50%,-50%) scale(0.4);
    background: #292B2E;
  }
  35% {
    transform: translate(-50%,-50%) scale(0.45);
    background: #292B2E;
  }
  40% {
    transform: translate(-50%,-50%) scale(0.51);
    background: #292B2E;
  }
  45% {
    transform: translate(-50%,-50%) scale(0.57);
    background: #292B2E;
  }
  50% {
    transform: translate(-50%,-50%) scale(0.62);
    background: #292B2E;
  }
  55% {
    transform: translate(-50%,-50%) scale(0.68);
    background: #292B2E;
  }
  60% {
    transform: translate(-50%,-50%) scale(0.74);
    background: #292B2E;
  }
  65% {
    transform: translate(-50%,-50%) scale(0.8);
    background: #292B2E;
  }
  70% {
    transform: translate(-50%,-50%) scale(0.85); 
    background: #292B2E;
  }
  75% {
    transform: translate(-50%,-50%) scale(0.91);
    background: #292B2E;
  }
  80% {
    transform: translate(-50%,-50%) scale(0.97);
    background: #292B2E;
  }
  85% {
    transform: translate(-50%,-50%) scale(1.02);
    background: #292B2E;
  }
  90% {
    transform: translate(-50%,-50%) scale(1.08);
    background: #292B2E;
  }
  95% {
    transform: translate(-50%,-50%) scale(1.14);
    background: #292B2E;
  }
  100% {
    transform: translate(-50%,-50%) scale(1.2);
    background: #292B2E;
  }
}
.D-OUS-US-animation-gif {
  position: absolute;
    top: 0;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #292b2e;
}
.page-holder{
  display: flex;
  width: 100%;
  height: 100%;
}
.center-both-direction-flex{
  align-items: center;
  justify-content: center;
}

.us-3d-resourc{
  max-width: 50%;
  width: auto;
  height: auto;
  max-height: 80%;
  display: block;
}

.title-home {
  position: absolute;
  font-size: 30px;
  color: white;
  max-width: 437px;
  text-align: center;
}
.sub-header {
  color: #fff;
  font-size: 24px;
}
.right-column{
  position: absolute;
  width: 60%;
  bottom: 0;
  right: 0;
}
.quocte {
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  margin-bottom: 70px;
  line-height: 1.25;
}
.small-header {
  color: #A1A6AE;
  font-size: 18px;
}
.main-header {
  background: -webkit-linear-gradient(#FF956A, #FF590D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 10px #521A00;
  font-size: 60px;
  font-weight: 500;
}

.param-header {
  color: #A1A6AE;
  font-size: 18px;
}
.header-value {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.7);
}
.read-more-icon {
  width: 22px;
}
.home-page .img-responsive {
  width: 635px;
}
.block {
  height:300px;
  background: blue;
  margin-bottom: 20px;
}
.circle-layout {
  max-width: 810px;
  position: relative;
}
.circle {
  max-width: 540px;
  background: -webkit-linear-gradient(left top, #E48F68 0%, #000 100%);
  border-radius: 50%;
  padding: 0.5px;
  box-shadow: -7px -7px 24px rgba(255, 114, 50, 0.17);
}
.canvas-circle {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  bottom: 0;
  background: -webkit-linear-gradient( top, #292929 0%, #212121 100%);
}
.absolute-layout {
  font-size: 24px;
  position: absolute;
  top: 45%;
  right: 0;
}
.index {
  height: auto;
}
.index-home {
  height: 100vh;
}
.home-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.description-home {
  flex: 0.4;
}
.circle-layout-home {
  flex: 0.6;
  position: relative;
  height: fit-content;
}
.circle-layout-home .circle {
  max-width: 635px;
  /* background-image: url('../img/work-item-1@2x.png'); */
}
.circle-layout-home .canvas-circle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.circle-layout-home .canvas-circle-sg-bug {
  background-image: url('../img/SG-Bus-Circle-Background.png');
}
.circle-layout-home .canvas-circle-aia {
  background-image: url('../img/AIA-IResource-Circle-Background.png');
}
.circle-layout-home .canvas-circle-daikin {
  background-image: url('../img/Daikin-Dsmarthome-Circle-Background.png');
}
.read-more-header {
  margin-left: 72px;
}
.home-page .footer {
  padding-top: 100px;
}
.img-circle {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}
.img-circle img {
  object-fit: contain;
  max-width: 100%;
}
.img-circle.dark-ipad {
  width: 90%;
  left: 48%;
  top: 52.5%;
}
.img-circle.dark-iphone {
  width: 34%;
}
/* work */
.work-page .home-layout {
  align-items: center;
}
.work-page .description-home {
  flex: 0.4;
}
.work-page .circle-layout-home {
  flex: 0.6;
}
.description-work {
  font-size: 40px;
  color: #ffffff;
  margin-top: 120px;
  margin-bottom: 70px;
  max-width: 855px;
}
.relative-layout-work {
  height: fit-content;
  position: relative;
  width: 100% !important;
  padding: 0;
}
.bgr-work {
  width: 100%;
  position: relative;
}
.VideoWork {
  width: 100%;
}
.play-work {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-play {
  position: relative;
  width: 57px;
  height: 57px;
  cursor: pointer;
}
.play-video {
  width: 57px;
}
.icon-layout {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 0;
  right: 0;
  background-color: #FF590D
}
.back-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-item-work {
  display: flex;
  justify-content: center;
}
.item-work {
  max-width: 350px;
}
.item-work:nth-child(2) {
  margin: 0 30px;
}
.brg-item-work {
  background-image: url('../img/work-item-1@2x.png');
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-work:nth-child(2) .brg-item-work {
  background-image: url('../img/work-item-2@2x.png');
}
.item-work:nth-child(3) .brg-item-work {
  background-image: url('../img/work-item-3@2x.png');
}
.text-work-item {
  background-color: #212121;
  padding: 20px 14px;
}
.awards {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 160px 0 80px 0;
}
.awards .text-gray {
  font-size: 24px;
}
.item-awards {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.item-awards .text-white-80 {
  width: 380px;
  font-size: 24px;
}
.item-awards .text-gold {
  flex: 1;
  font-size: 24px;
}
.item-awards .text-white {
  flex: 1;
  font-size: 24px;
}
.white-work {
  background-color: white;
  display: flex;
  justify-content: center;
}
.work-people {
  flex-direction: column;
  max-width: 1005px;
  width: 100%;
  padding: 50px 0 70px 0;
}
.work-people .text-black-blue {
  font-size: 24px;
}
.People {
  display: flex;
  flex-direction: column;
}
.People .item-People img {
  width: 100%;
  max-width: 140px;
  margin-right: 7%; 
}
.People .item-People img:nth-child(5){
  margin-right: 0%;
} 
.circle-work.circle {
  position: absolute;
  z-index: 1;
  max-width: 500px;
  top: 36%;
  left: -300px;
}
.work-page .circle-footer, .work-sg-bulesh-page .circle-footer {
  background-color: #fff;
}
.work-aia-iresource-page .circle-footer {
  background-color: #F8F8F8;
}

/* services */
.service-page .title-page {
  padding-top: 64px;
}
.service-capability {
  display: flex;
  padding-top: 125px;
}
.service-capability .in-house {
  flex: 1;
}
.service-capability .in-house .text-gray {
  font-size: 20px;
}
.service-capability .in-house .text-white {
  font-size: 24px;
  padding-top: 10px;
}
.service-capability .these-platforms {
  flex: 1;
}
.service-capability .these-platforms .text-gray {
  font-size: 20px;
}
.platforms-service-item {
  display: flex;
}
.platforms-item {
  display: flex;
  align-items: center;
}
.img-platforms-item {
  width: 124px;
  height: 124px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.platforms-item .text {
  font-size: 24px;
  width: 157px;
}
.technology-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-service {
  max-width: 636px;
  font-size: 24px;
  padding: 180px 0 100px 0;
}
.all-btn-technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.all-technology {
  display: flex;
  flex-wrap: wrap;
}
.btn-technology {
  width: 268px;
  height: 90px;
  margin: 6px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.02) 4%, rgba(237,237,237,0.05) 100%);
  display: flex;
  align-items: center;
}
.btn-technology img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 20px;
}
.btn-technology .text-orange {
  font-size: 16px;
}
.build-something {
  padding-top: 120px;
}
.build-something .text-gray {
  font-size: 24px;
}
.build-something .text-white {
  font-size: 24px;
}
.all-department {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  height: 707px;
}
.item-department {
  width: 351px;
}
.item-department img {
  width: 388px;
  margin-bottom: 20px;
}
.project-management {
  transform: translateY(149px);
  margin: 0 30px;
}
.project-management img {
  width: 421px;
  transform: translateX(-15px);
}
.outsource-team {
  transform: translateY(214px);
}
.outsource-team img {
  width: 363px;
}
.title-department {
  font-size: 20px;
  font-weight: 500;
}
.text-department {
  font-size: 15px;
}
/* about us */
.about-us-page {
  overflow-x: hidden;
}
.LoaderBalls {
  width: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 40%;
  top: 50%;
  transform: translate(-40%,-50%);
}
.LoaderBalls__item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF7232;
 
}
.LoaderBalls__item:nth-child(1) {
  animation: bouncing 1.5s alternate  cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item:nth-child(2) {
  animation: bouncing1 1.5s 0.1s alternate  cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  25% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
  }
  50% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  75% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
  }
  85% {
    transform: translate3d(15px,0,0) scale(1);
  }
  100% {
    transform: translate3d(15px,0,0) scale(1);
  }
}
@keyframes bouncing1 {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  25% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
  }
  50% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  75% {
    transform: translate3d(0, -10px, 0) scale(0.9, 1.1);
  }
  85% {
    transform: translate3d(-15px,0,0) scale(1);
  }
  100% {
    transform: translate3d(-15px,0,0) scale(1);
  }
}
.description-about-us {
  font-size: 24px;
  max-width: 650px;
  padding: 43px 0 96px 0;
}
.circle-about-us {
  position: absolute;
  max-width: 32.5%;
  right: -45px;
  height: -webkit-fill-available;
  width: 635px;
  top: 230px;
}

.relative-layout {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
}
.circle-about-us .circle-layout-home {
position: absolute;
height: fit-content;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
-webkit-animation: width-ani 2s ease normal;
opacity: 0;
}
@-webkit-keyframes width-ani {
0%{
  width: 0;
  
}
100%{
  width: 100%;
}

}	
.circle-layout-home .canvas-circle-about-us {
background-image: url('../img/aboust-us-brg.png');
background-color: #292929;
background-position: center;
background-size: 125%;
width: 100%;
-webkit-animation: background-ani 4s ease normal;
}

@-webkit-keyframes background-ani {
0%{
  background-position:0 0;
  
}
100%{
  background-position: center;
}

}	
.achieved-about-us .text-white {
  font-size: 24px;
  max-width: 636px;

}
.statistic-about-us {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.statistic-about-us .statistic-item {
  margin-right: 80px;
}
.statistic-about-us .statistic-item .text-orange {
  font-size: 60px;
}
.statistic-about-us .statistic-item .text-white {
  font-size: 20px;
}
.value-about-us {
  padding: 100px 0;
}
.value-about-us .text-white {
  font-size: 24px;
}
.list-item-about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.list-item-about-us .text-orange {
  font-size: 50px;
}
.list-item-about-us .text-gray {
  font-size: 30px;
  margin: 0 40px;
}
.about-us-people {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us-people .text-white {
  font-size: 24px;
}
.company-people {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.item-people {
  text-align: center;
}
.item-people .name-people {
  font-size: 20px;
}
.item-people .specialized {
  font-size: 15px;
}
.circle-people img {
  width: 256px;
}
.circle-people {
  margin-bottom: 20px;
}

.culture-about-us {
  padding-top: 100px;
  padding-bottom: 100px;
}
.culture-about-us .text-white {
  font-size: 24px;
}
.image-about-us {
  width: 100%;
  margin-top: 25px;
}
.image-about-us img {
  max-width: 100%;
}
.text-size-24 {
  font-size: 24px;
}
.text-size-20 {
  font-size: 20px;
}
/* contact */
  .contact-info-form {
    padding-top: 125px;
  }
 .title-contact-gray {
   font-size: 24px;
   color: rgba(255, 255, 255, 0.5);
   line-height: 1.5;
 }
 .title-contact-white {
   font-size: 24px;
   color: #ffffff;
   line-height: 1.5;
 }
 .description-contact-gray {
   font-size: 20px;
   color: rgba(255, 255, 255, 0.5);
   line-height: 1.9;
 }
 .radio-content{
   width: 220px;
   text-align: left;
 }
 
 input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  color: #ffffff; 
  cursor:pointer;
  font-size: 15px;
  font-weight: 100;
}

input[type="radio"] + label span {
  display:inline-block;
  width:20px;
  height:20px;
  margin:-2px 5px 0 0;
  vertical-align:middle;
  border:1px solid #393D42;
  border-radius: 50%;
  cursor:pointer;
  background:  #393D42; 
  transition: background .2s, transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
  background:  #393D42; 
  background: -webkit-linear-gradient(to right, #FF956A, #FF590D); 
  background: linear-gradient(to right, #FF956A, #FF590D);

  box-shadow: 0px 0px 0px 3px #393D42 inset;
}

input[type="radio"]:checked + label{
 /* color: #38aa7c;  */
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 251px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2E3135;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  background-image: url('../img/Icons/Down@3x.png');
  background-size: 12px 12px;
  display: inline-block;
  width: 12px; 
  height: 12px;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #2E3135;
}
.select-styled:active, .select-styled.active {
  background-color: #2E3135;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  transform: rotate(180deg);
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #2E3135;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #2E3135;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #2E3135;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
.input-contact {
  background-color: #2E3135;
  color: #fff;
  border: 1px solid #2E3135;
  height: 44px;
  font-size: 15px;
  text-indent: 11px;
}
.input-contact:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.contact-form .contact-info-customer {
  display: flex;
}
.contact-info-customer .info-customer {
  flex: 0.85;
}
.contact-info-customer .info-customer .form-customer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.contact-info-customer .info-customer .form-group {
  width: 383px;
}
.contact-info-customer .info-customer .form-group .input-contact {
  width: 350px;
}
.input-phone-group {
  display: flex;
}
.contact-info-customer .info-customer .form-group .country-code .input-contact {
  width: 70px;
  margin-right: 5px;
}
.contact-info-customer .info-customer .form-group .phone .input-contact {
  width: 275px;
}
.project-detail {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.project-detail .radio-block {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-width: 932px;
}
.project-detail .radio-block .radio-content {
  width: 220px;
  text-align: left;
  margin-right: 13px;
  margin-top: 32px;
}
.textarea-group {
  padding-top: 50px;
}
.form-textarea textarea {
  background-color: #2E3135;
  color: #fff;
  border: 1px solid #2E3135;
  height: 120px;
  font-size: 15px;
  text-indent: 11px;
  max-width: 825px;
  width: 100%;
  resize: none;
}
.form-textarea textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.project-begin-end .input-contact  {
  width: 251px;
}
.budget,.project-begin-end {
  margin-top: 30px;
  margin-bottom: 50px;
}
.form-textarea {
  margin-top: 10px;
  margin-bottom: 50px;
}
.how-did-you .radio-block {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}
.how-did-you .radio-block .radio-content {
  margin-right: 13px;
  margin-top: 32px;
}
.submit {
  margin-top: 45px;
  margin-bottom: 70px;
}
.submit .btn-submit {
  display: block;
  width: 150px;
  cursor: pointer;
}
.submit .btn-submit img {
  width: 100%;
}
.Our-offices {
  padding-bottom: 118px;
}
.all-company {
  display: flex;
  width: 100%;
  align-items: flex-end;
  border-bottom: 1px solid #F15A22;
  text-align: center;
  padding-top: 70px;
}
.all-company .company-item {
  flex: 0.33;
}
.img-sg {
  width: 312px;
}
.img-vn {
  width: 238px;
}
.img-my {
  width: 235px;
}

.all-company-info {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
  text-align: center;
}
.all-company-info .company-item {
  flex: 0.33;
  text-align: center;
}
.company-name {
  font-size: 20px;
}
.address-company {
  font-size: 15px;
}
.all-company .company-name,.all-company .address-company{
  display: none;
}
.all-company-info img {
  display: none;
}

#check-one,#check-two,#check-three {
  transition: opacity .3s;
  transition-delay: 5ms;
  opacity: 0;
}
/* methodology */
  .methodology-page {
    background-color: #292b2e !important;
  }
  .methodology-experts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
  .description-experts {
    flex: 0.5;
  }
  .methodology-experts-gif {
    flex: 0.453;
  }
  .methodology-upward {
    margin-top: 110px;
  }
  .description-upward {
    max-width: 636px;
    margin-bottom: 30px;
  }
  .methodology-way-through {
    margin-top: 136px;
    margin-bottom: 60px;
  }
  .description-way-through {
    max-width: 530px;
  }
  /* work sg busleh */ /* work aia iresource */
  .container-white {
    width: 100%;
    background-color: #fff; 
  }
  .work-sg-bulesh-index, .work-aia-iresource-index {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .work-sg-bulesh-index {
    background-image: url('../img/SG-Bus_Banner-Image.png');
  }
  .work-aia-iresource-index {
    background-image: url('../img/AIA-iResource-Banner.png');
  }
  .header-sg-busleh, .header-aia-iresource {
    display: flex;
    align-items: center;
    height: 635px;
    flex-wrap: wrap;
  }
  .header-sg-busleh .param-header {
    margin-top: 20px;
  }
  .info-header-sg-busleh-layout {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .info-header-sg-busleh {
    max-width: 444px;
    display: flex;
    flex-direction: column;
  }
  .relative-layout-img-header {
    position: relative;
    width: 50%;
    height: 635px;
    display: flex;
    justify-content: center;
  }
  .absolute-img-header-sg-busleh {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 1;
  }
  .img-header-sg-busleh, .img-header-aia-iresource {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .img-header-aia-iresource {
    transform: translateY(90px);
  }
  .img-header-sg-busleh .wristwatch-work {
    width: 160px;
    max-width: 160px;
  }
  .img-header-sg-busleh .S8-work {
    width: 235px;
    max-width: 235px;
  }
  .img-header-aia-iresource .Dark-iPad-img {
    max-width: 540px;
    width: 540px;
  }
  .img-header-sg-busleh .wristwatch-work img, .img-header-sg-busleh .S8-work img, .img-header-aia-iresource .Dark-iPad-img img, .customer-company-logo img {
    object-fit: contain;
    max-width: 100%;
  }
  .all-description-sg-busleh {
    padding-top: 70px;
  }
  .list-over-view {
    display: flex;
    flex-wrap: wrap;
  }
  .item-over-view {
    width: 255px;
  }
  .text-over-view {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .list-item {
    font-size: 15px;
  }
  .title-description-sg-busleh {
    font-size: 24px;
    line-height: 1.5;
    padding: 70px 0;
  }
  .title-sg-busleh {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }
  .text-description-sg-busleh {
    font-size: 20px;
    line-height: 1.5;
  }
  .description-sg-busleh {
    padding: 0 0 70px 0;
    max-width: 730px;
  }
  .all-description-aia-iresource {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .img-content-aia {
    width: 100%;
    text-align: center;
  }
  .img-content-aia img {
    max-width: 544px;
  }
  .title-aia-iresource {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
  }
  .detail-sg-busleh {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 70px 0;
  }
  .img-detail-sg-busleh,.description-detail-sg-busleh {
    max-width: 540px;
    width: 540px;
  }
  .img-detail-sg-busleh img {
    object-fit: contain;
    max-width: 100%;
  }
  .black-description-sg-busleh,.quantity-launched-busleh,.black-description-aia-iresource {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .black-description-sg-busleh,.quantity-launched-busleh {
    align-items: center;
  }
  .black-description-sg-busleh, .black-description-aia-iresource {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .quantity-launched-busleh,.a-second-busleh  {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .title-main-header,.title-quantity-busleh {
    font-size: 60px;
    font-weight: 500;
    width: 444px;
    max-width: 444px;
    text-align: center;
  }
  .title-main-header {
    background: -webkit-linear-gradient(#FF7232, #FF5100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content-black-description-sg-busleh,.content-quantity-busleh {
    font-size: 20px;
    line-height: 1.5;
    width: 540px;
    max-width: 540px;
  }
  .content-black-description-sg-busleh {
    color: #fff;
  }
  
  .a-second-busleh .text-description-sg-busleh {
    max-width: 730px;
  }
  .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .owl-theme .owl-dots .owl-dot span {
    background: #6C6C6C;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FF7232;
  }
  .layout-customer-feedback {
    background-color: #F8F8F8;
  }
  .container-customer-feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .tooltip-customer {
    padding-top: 30px;
  }
  .tooltip-aia {
    max-width: 730px;
    border: 1px solid #EBEBEB;
    background-color: #ffff;
    border-radius: 4px;
    padding: 30px;
    position: relative;
  }
  .tooltip-aia:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 21px;
    height: 21px;
    box-shadow: 1px 0px 0px 0px #EBEBEB, 1px 1px 0px 0px #EBEBEB;
    transform: rotate(45deg);
    background: #ffff;
  }
  .info-customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .customer-name,.customer-company {
    font-size: 20px;
    line-height: 1.5;
  }
  .customer-name {
    font-weight: 500;
  }
  .customer-company-logo {
    max-width: 115px;
    margin-top: 5px;
  }
  .container-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .container-number .all-number {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    flex-wrap: wrap;
  }
  .all-number .item-number {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-number .item-number .text-number {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
  }
  /* Feel free to change duration  */ 
  .animated  {
    -webkit-animation-duration : 1000 ms  ;
    animation-duration : 1000 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
  }  
  /* .owl-animated-out - only for current item */ 
  /* This is very important class. Use z-index if you want move Out item above In item */ 
  .owl-animated-out {
    z-index : 1 
    }
  /* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */ 
  .owl-animated-in {
    z-index : 0 
    }
  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
  .fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
  }  
  @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }
  @keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }

  /* menu */
  /* header.active {
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.5);
  } */
  .btn-menu {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
  }
  .show-menu, .close-menu {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .show-menu {
    z-index: 1;
    opacity: 1;
  }
  .close-menu {
    z-index: 0;
    opacity: 0;
  }
  header.active .show-menu {
    z-index: 0;
    opacity: 0;
  }
  header.active .close-menu {
    z-index: 1;
    opacity: 1;
  }
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px;
    background-color: #292b2e;
    z-index: 1;
  }
  
  .all-menu, .menu-main, .menu-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292b2e;
  }
  .all-menu {
    transform: translate3d(0, -100%, 0);
    
  }
  header.active .all-menu {
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.5);
    animation: fadeInDown 1s !important;
  }
  .menu-main, .menu-blog {
    width: 100%;
  }
  .menu-main {
    margin-top: 70px;
  }
  .menu-blog {
    margin-top: 60px;
  }
  .menu-main ul, .menu-blog ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    max-width: 1110px;
    width: 100%;
    flex-wrap: wrap;
  }
  .menu-main ul {
    border-bottom: 1px solid #535353;
  }
  .menu-main li, .menu-blog li {
    display: block;
  }
  .menu-main li {
    padding-bottom: 60.5px;
    position: relative;
  }
  .menu-main li.active a, .menu-main li.active a:hover, .menu-main li.active a:focus {
    color: #FF7232;
  }
  .menu-main li.active:after {
    height: 9px;
    display: block;
    width: 9px;
    background: #FF7232;
    content: '';
    border-radius: 100%;
    position: absolute;
    bottom: -5px;
    left: 50%;
}
  .menu-main li a, .menu-blog li a {
    color: #ffffff;
    font-size: 24px;
  }
  .menu-main li a:hover, .menu-main li a:focus, .menu-blog li a:hover, .menu-blog li a:focus {
    color: #ffffff;
    text-decoration: none;
  }
  .menu-blog li a p {
    font-size: 20px;
  }
  .menu-blog li:first-child {
    max-width: 371px;
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  @-webkit-keyframes fadeInDown {
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  .fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
  }

  @-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
    
  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1110px) {
    .container {
      width: 1140px;
    }
    .service-page .container {
      width: 1150px;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
   
  }
 